* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #4f46e5;
    --primary-dark: #3730a3;
    --success: #16a34a;
    --error: #dc2626;
    --bg-gradient: linear-gradient(135deg, #667eea, #764ba2);
    --text-dark: c;
    --text-light: #6b7280;
    --white: #ffffff;
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: var(--bg-gradient);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 500px;
    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(12px);
    border-radius: 20px;
    padding: 40px 30px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
}

.card-header h1 {
    font-size: 28px;
    color: #1f2937;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 14px;
    color: #6b7280;
    margin-bottom: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-group {
    text-align: left;
}

.input-group label {
    font-size: 14px;
    font-weight: 600;
    color: #1f2937;
    margin-bottom: 6px;
    display: block;
}

.input-group input {
    width: 100%;
    padding: 12px 14px;
    border-radius: 10px;
    border: 1px solid #d1d5db;
    font-size: 15px;
    transition: 0.3s ease;
}

.input-group input:focus {
    outline: none;
    border-color: #4f46e5;
    box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.2);
}

.btn {
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: #4f46e5;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background: #3730a3;
    transform: translateY(-2px);
}

.btn:active {
    transform: scale(0.98);
}

.result {
    margin-top: 25px;
    padding: 15px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
}

.result.success {
    background: rgba(22, 163, 74, 0.1);
    color: #16a34a;
}

.result.error {
    background: rgba(220, 38, 38, 0.1);
    color: #dc2626;
}

.hidden {
    display: none;
}

#error-msg{
    color: red;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(15px);    
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@media (max-width: 480px) {
    .card {
        padding: 30px 20px;
    }

    .card-header h1 {
        font-size: 22px;
    }
}